<app-menu></app-menu>
<div class="container" style="text-align: center;" *ngIf="cargando">
    <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
    <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>


<div class="container" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <h4>Detalle Evaluación</h4>
        </div>
        <div class="col">
            <button (click)="volver()" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
        </div>
    </div>

    <div *ngIf="error">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
            <strong><i class="fas fa-times"></i> ¡Error!</strong> {{mensaje}}
        </div>
    </div>

    <div *ngIf="!error" class="card shadow mb-5">
        <h6 class="card-header font-weight-bold">Resultados obtenidos para {{detalleEvaluacion.evaluado}}</h6>
        <div class="card-body">
            <p><strong>Fecha Realización:</strong> {{detalleEvaluacion.fechaHoraRealizacion}}</p>
            <p><strong>Evaluador:</strong> {{detalleEvaluacion.evaluador}}</p>
            <hr>
            <h5 style="text-align: center;">Evaluación</h5>
            <div *ngFor="let resul of detalleEvaluacion.resultados" style="margin-bottom: 5%;">
                <h6 *ngIf="resul.esMinimoRequeridoOSupero">{{resul.detallePlantilla.competencia.nombre}} - <span class="badge badge-pill badge-success"><i class="far fa-thumbs-up"></i> Satisfactorio</span></h6>
                <h6 *ngIf="!resul.esMinimoRequeridoOSupero">{{resul.detallePlantilla.competencia.nombre}} - <span class="badge badge-pill badge-warning"><i class="fas fa-arrow-up"></i> Necesita Mejorar</span></h6>
                <p *ngIf="resul.detallePlantilla.esPreguntaObjetivo">Es pregunta objetivo: Si - Objetivo: {{resul.detallePlantilla.obj.descripcion}}</p>
                <p *ngIf="!resul.detallePlantilla.esPreguntaObjetivo">Es pregunta objetivo: No</p>
                <p>Opción seleccionada:</p>
                <div class="table-responsive-md" style="margin-right: 5%;margin-left: 5%;">
                    <table class="table table-sm">
                      <thead style="text-align: center;">
                        <tr>
                          <th scope="col">Grado</th>
                          <th scope="col">Descripción Comportamiento</th>
                          <th scope="col">Valoración Numérica</th>
                        </tr>
                      </thead>
                      <tbody style="text-align: center;">
                        <tr>
                          <th scope="row">{{resul.comportamientoPlantillaSeleccionado.grado}}</th>
                          <td class="text-center" style="text-align: justify;">{{resul.comportamientoPlantillaSeleccionado.descComportamiento}}</td>
                          <td>{{resul.comportamientoPlantillaSeleccionado.valoracionNumerica}} %</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
