<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Mis evaluaciones</h4>
        </div>
    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Listado de mis evaluaciones</h6>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <thead>
                    <tr class="table-primary">
                        <th role="button" (click)="setOrder()" scope="col"><i [ngClass]="order === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'"></i></th>
                        <th role="button" (click)="setSort('id')" scope="col">Cód</th>
                        <th role="button" (click)="setSort('fechaInicioEvaluacion')" scope="col">Fecha Realización</th>
                        <th role="button" (click)="setSort('estado.nombre')" scope="col">Estado</th>
                        <th role="button" (click)="setSort('estado.nombre')" scope="col">Calificación</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let de of misEvaluaciones">
                    <tr *ngIf="!de.fueEvaluado">
                        <th></th>
                        <td scope="row">{{de.idDetalleEvaluacion}}</td>
                        <td>-------------</td> 
                        <td><span class="badge badge-warning"><i class="fas fa-question"></i> Pendiente Evaluar</span></td>
                        <td>-------------</td> 
                    </tr>
                    <tr *ngIf="de.fueEvaluado">
                        <th></th>
                        <td scope="row">{{de.idDetalleEvaluacion}}</td>
                        <td>{{de.fechaRealizacion}}</td>
                        <td *ngIf="de.aprobado"><span class="badge badge-success"><i class="far fa-thumbs-up"></i> Aprobado</span></td>
                        <td *ngIf="!de.aprobado"><span class="badge badge-danger"><i class="far fa-thumbs-down"></i> Desaprobado</span></td>
                        <td>{{de.calificacion}} ptos</td>
                        <td><button routerLink="/evaluacion/detalle_evaluacion/{{de.idDetalleEvaluacion}}" style="margin-right: 5px;" class="btn btn-sm btn-outline-primary shadow-sm" data-toggle="tooltip" data-placement="top" title="Ver detalle de la evaluación"><i class="far fa-eye"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>