<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Empleados</h4>
        </div>
        <div class="col">
            <button routerLink="/empleados/nuevo" class="float-right btn btn-sm btn-success shadow-sm"><i class="fas fa-plus"></i> Agregar</button>
        </div>

    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Listado de Empleados</h6>
        <div class="card-body">
          <div class="row">
            <div class="col-md">
              <div class="row">
                <div class="col-10">
                  <div class="form-group">
                    <label for="legajo">Buscar por Nombre-Apellido: </label>
                    <input (keydown.enter)="buscarPorNombreYApellido()" type="text" class="form-control" [(ngModel)]="form.buscadorNombreApellido" name="buscadorNombreApellido" required autocomplete="off">
                  </div>
                </div>
                <div class="col-2">
                  <button (click)="buscarPorNombreYApellido()" style="margin-top: 35px;"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="row">
                <div class="col-10">
                  <div class="form-group">
                    <label for="legajo">Buscar por Legajo: </label>
                    <input (keydown.enter)="buscarPorLegajo()" type="text" class="form-control" [(ngModel)]="form.buscadorLegajo" name="buscadorLegajo" required autocomplete="off">
                  </div>
                </div>
                <div class="col-2">
                  <button (click)="buscarPorLegajo()" style="margin-top: 35px;"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label>Sucursal: </label>
                <select class="form-control" [(ngModel)]="form.sucursal" name="sucursal" (change)="actualizarComboAreas()">
                  <option *ngFor="let sucursal of comboSucursales" [ngValue]="sucursal">{{sucursal.id}}--{{sucursal.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label>Area: </label>
                <select class="form-control" [(ngModel)]="form.area" name="area">
                  <option *ngFor="let area of comboAreas" [ngValue]="area">{{area.id}}-{{area.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-2">
              <button style="margin-top: 35px;"><i class="fas fa-search"></i></button>
            </div>
          </div>
            <table class="table table-sm table-hover">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">Legajo</th>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col">Lugar Trabajo</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let emp of empleados">
                  <tr>
                    <th scope="row">{{emp.legajo}}</th>
                    <td>{{emp.nombre}} {{emp.apellido}}</td>
                    <td>
                      <div *ngFor="let lugar of emp.puestosTrabajo">
                        <tr>- {{lugar.sucursal.nombre}}</tr>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col">
                          <button style="margin-right: 5px;" class="btn btn-sm btn-primary shadow-sm" data-toggle="tooltip" data-placement="top" title="Mas Información"><i class="far fa-eye"></i></button>
                          <button style="margin-right: 5px;" class="btn btn-sm btn-warning shadow-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                          <button class="btn btn-sm btn-danger shadow-sm" data-toggle="tooltip" data-placement="top" title="Dar de baja"><i class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="esEmptyEmpleados()" style="text-align: center;"><i class="fas fa-exclamation-circle"></i> Sin resultados para el filtro aplicado.</p>
        </div>
    </div>
</div>

