<app-menu></app-menu>
<div class="container" style="text-align: center;" *ngIf="cargando">
  <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
  <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>

<div class="container" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <h4>Evaluaciones</h4>
        </div>
        <div class="col">
            <button routerLink="/evaluacion/nueva" class="float-right btn btn-sm btn-success shadow-sm"><i class="fas fa-plus"></i> Agregar</button>
        </div>
    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Listado de evaluaciones</h6>
        <div class="card-body">
          <form>
            <div class="row">
                <div class="col-md-3 text">
                    <div class="form-group">
                        <label style="font-size: 13px;">Mostrar:</label>
                        <select (change)="setFiltroEstado($event)" class="form-control form-control-sm">
                            <option value="">Todas</option>
                            <option value="En Curso">En curso</option>
                            <option value="Finalizada">Finalizadas</option>
                            <option value="En Espera">En Espera</option>
                            <option value="Cancelada">Canceladas</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-5"></div>
                  <div class="col-md">
                    <div class="input-group" style="margin-top: 20px;margin-bottom: 10px;">
                      <input (keydown.enter)="buscarEvaluaciones()" type="text" class="form-control" name="search" placeholder="Buscar..." [(ngModel)]="filtro" name="filtro" autocomplete="off">
                      <span class="input-group-append">
                          <button class="btn btn-secondary" type="button" (click)="buscarEvaluaciones()">
                              <i class="fas fa-search fa-sm"></i>
                          </button>
                      </span>
                    </div>
                  </div>
            </div>
          </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr class="table-primary">
                        <th role="button" (click)="setOrder()" scope="col"><i [ngClass]="order === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'"></i></th>
                        <th role="button" (click)="setSort('id')" scope="col">Cód</th>
                        <th role="button" (click)="setSort('fechaInicioEvaluacion')" scope="col">Fecha Inicio</th>
                        <th role="button" (click)="setSort('fechaFinEvaluacion')" scope="col">Fecha Fin</th>
                        <th scope="col">Evaluador</th>
                        <th role="button" (click)="setSort('estado.nombre')" scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let ev of evaluaciones">
                    <tr>
                        <th></th>
                        <th scope="row">{{ev.id}}</th>
                        <td>{{ev.fechaInicioEvaluacion}}</td>
                        <td>{{ev.fechaFinEvaluacion}}</td>
                        <td>{{ev.evaluador}}</td>
                        <td *ngIf="ev.estado.nombre == 'Cancelada'"><span class="badge badge-danger"><i class="fas fa-times"></i> {{ev.estado.nombre}}</span></td>
                        <td *ngIf="ev.estado.nombre == 'En Curso'"><span class="badge badge-primary"><i class="fas fa-tasks"></i> {{ev.estado.nombre}}</span></td>
                        <td *ngIf="ev.estado.nombre == 'En Espera'"><span class="badge badge-warning"><i class="far fa-clock"></i> {{ev.estado.nombre}}</span></td>
                        <td *ngIf="ev.estado.nombre == 'Finalizada'"><span class="badge badge-success"><i class="fas fa-check"></i> {{ev.estado.nombre}}</span></td>
                        <td>
                            <div class="row">
                                <div class="col">
                                  <button routerLink="/evaluacion/ver/{{ev.id}}" style="margin-right: 5px;" class="btn btn-sm btn-outline-primary shadow-sm" data-toggle="tooltip" data-placement="top" title="Ver mas información evaluación"><i class="far fa-eye"></i></button>
                                  <button style="margin-right: 5px;" class="btn btn-sm btn-outline-warning shadow-sm" data-toggle="tooltip" data-placement="top" title="Editar evaluación"><i class="fas fa-pencil-alt"></i></button>
                                  <button *ngIf="ev.esCancelable" (click)="cancelarEvaluacionConfirmacion(content,ev.id)" class="btn btn-sm btn-outline-danger shadow-sm" data-toggle="tooltip" data-placement="top" title="Cancelar Evaluación"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="evaluaciones.length == 0" style="text-align: center;"><i class="fas fa-exclamation-circle"></i> No se encontraron resultados.</p>
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                  <li class="page-item" [ngClass]="{'disabled': esPrimera === true}">
                    <a role="button" class="page-link" (click)="anterior()" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li *ngFor="let p of totalPages;let i=index" [ngClass]="{'active' : i == page}" class="page-item"><a role="button" class="page-link" (click)="setPagina(i)">{{i+1}}</a></li>
                  <li class="page-item" [ngClass]="{'disabled': esUltima === true}">
                    <a role="button" class="page-link" (click)="siguiente()" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal para solicitar confirmacion de cancelación de evaluación -->
<ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6><img src="../../../../assets/advertencia.png" alt="Icon Adv" style="height: 35px;width: 35px;"> ¿Esta seguro que desea cancelar la evaluación seleccionada?</h6>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close('Close click')" type="button" class="btn btn-danger"><i class="fas fa-times"></i> No</button>
      <button (click)="cancelar()" type="button" class="btn btn-warning"><i class="fas fa-check"></i> Si</button>
    </div>
</ng-template>