<app-menu></app-menu>

<div class="container" style="text-align: center;" *ngIf="cargando">
    <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
    <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>

<div class="container" style="margin-top: 100px;" *ngIf="!cargando">
    <div class="row">
        <div class="col-md-4" style="margin-bottom: 60px;">
            <img *ngIf="usuario.nombreFotoPerfil != null" src="http://localhost:8080/imagen_perfil/ver/{{usuario.nombreFotoPerfil}}" class="mx-auto d-block rounded-circle" alt="Foto Perfil Usuario" style="height: 200px;width: 200px;">
            <img *ngIf="usuario.nombreFotoPerfil == null" src="../../../../assets/foto-perfil-alt.png" class="mx-auto d-block" alt="Foto Perfil Usuario" style="height: 200px;width: 200px;">
        </div>
        <div class="col-md">
            <h4 style="text-align: center;">Mi perfil de usuario</h4>
            <hr>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <p><strong><u>Legajo:</u></strong> {{usuario.empleado.legajo}}</p>
                </div>
                <div class="col">
                    <p><strong><u>Nombre:</u></strong> {{usuario.empleado.nombre}} {{usuario.empleado.apellido}}</p>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <p><strong><u>Num DNI:</u></strong> {{usuario.empleado.dni}}</p>
                </div>
                <div class="col">
                    <p><strong><u>Fecha Nacimiento:</u></strong> {{ usuario.empleado.fechaDeNacimiento | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <p><strong><u>Nombre usuario:</u></strong> {{usuario.nombreUsuario}}</p>
                </div>
                <div class="col">
                    <p><strong><u>Email:</u></strong> {{usuario.empleado.email}}</p>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <p><strong><u>Puestos de trabajo:</u></strong></p>
                </div>
                <!-- <div class="col" *ngFor="let puesto of usuario.empleado.puestosTrabajo">
                    <li>{{puesto.nombrePuesto}} ({{puesto.sucursal.nombre}})</li>
                </div> -->
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <p><strong><u>Roles de usuario:</u></strong></p>
                </div>
                <div class="col" *ngFor="let rol of usuario.roles">
                    <li>{{rol.rolNombre}}</li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <a routerLink="/usuario/subir-foto-perfil" *ngIf="usuario.nombreFotoPerfil == null" type="button" class="btn btn-outline-primary btn-block"><i class="bi bi-upload"></i> Subir imagen perfil</a>
                    <a routerLink="/usuario/subir-foto-perfil" *ngIf="usuario.nombreFotoPerfil != null" type="button" class="btn btn-outline-primary btn-block"><i class="bi bi-upload"></i> Actualizar imagen perfil</a>
                </div>
                <div class="col">
                    <a routerLink="/usuario/actualizar-contrasena" type="button" class="btn btn-outline-warning btn-block"><i class="bi bi-arrow-clockwise"></i> Cambiar mi contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para subir foto de perfil
<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title"><i class="bi bi-person-bounding-box"></i> Subir imagen de perfil</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">   
                        <label>Seleccione una imagen de su ordenador:</label>
                        <input type="file" class="form-control" style="border: 0px;" accept=".jpg,.png,.jpeg" (change)="onSelectFile($event)">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <div *ngIf="procesando" class="d-flex justify-content-center mt-3">
                            <div class="spinner-border text-primary mr-2" role="status">
                              <span class="sr-only">Procesando imagen...</span>
                            </div>
                            <p> Procesando imagen...</p>
                        </div>
                        <label>Asi se vera su foto de perfil</label>
                        <section *ngIf="croppedresult" class="d-flex justify-content-center">
                            <img [src]="croppedresult" alt="..." style="height: 200px;width: 200px;" class="rounded-circle">
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group" *ngIf="imageURL">
                        <label>Seleccione su cara en la imagen:</label>
                        <angular-cropper [imageUrl]="imageURL" #angularCropper></angular-cropper>
                        <div class="mt-2">
                            <button (click)="getCroppedImage()" class="btn btn-primary btn-sm"><i class="bi bi-scissors"></i> Recortar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md">

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')"><i class="bi bi-x-circle"></i> Cancelar</button>
    </div>  
</ng-template> -->
