<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Nueva evaluación</h4>
        </div>
        <div class="col">
            <button routerLink="/evaluacion" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
        </div>
    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Formulario de registro de nueva evaluación</h6>
        <div class="card-body">
            <form [formGroup]="evaluacionForm" (submit)="guardar()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="nombre">Fecha inicio evaluación: </label>
                            <input type="date" class="form-control" name="fechaInicioEvaluacion" autocomplete="off" formControlName="fechaInicioEvaluacion" [ngClass]="(evaluacionForm.get('fechaInicioEvaluacion').touched || evaluacionForm.get('fechaInicioEvaluacion').dirty) && evaluacionForm.get('fechaInicioEvaluacion').hasError('required') ? 'is-invalid':''">
                            <div class="invalid-feedback">
                                {{
                                    evaluacionForm.get('fechaInicioEvaluacion').hasError('required') 
                                    ? "¡Campo requerido!" 
                                    : ""
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="nombre">Fecha fin evaluación: </label>
                            <input type="date" class="form-control" name="fechaFinEvaluacion" autocomplete="off" formControlName="fechaFinEvaluacion" [ngClass]="(evaluacionForm.get('fechaFinEvaluacion').touched || evaluacionForm.get('fechaFinEvaluacion').dirty) && evaluacionForm.get('fechaFinEvaluacion').hasError('required') ? 'is-invalid':''">
                            <div class="invalid-feedback">
                                {{
                                    evaluacionForm.get('fechaFinEvaluacion').hasError('required') 
                                    ? "¡Campo requerido!" 
                                    : ""
                                }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="evaluacionForm.invalid" type="submit" class="float-right btn btn-sm btn-success"><i class="far fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
