<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Nueva evaluación</h4>
        </div>
        <div class="col">
            <button routerLink="/evaluacion" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
        </div>
    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Formulario de registro de nueva evaluación</h6>
        <div class="card-body">
            <form [formGroup]="evaluacionForm" (submit)="guardar()">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="nombre">Fecha inicio evaluación: </label>
                            <input type="date" class="form-control" name="fechaInicioEvaluacion" autocomplete="off" formControlName="fechaInicioEvaluacion" [ngClass]="(evaluacionForm.get('fechaInicioEvaluacion').touched || evaluacionForm.get('fechaInicioEvaluacion').dirty) && evaluacionForm.get('fechaInicioEvaluacion').hasError('required') ? 'is-invalid':''">
                            <div class="invalid-feedback">
                                {{
                                    evaluacionForm.get('fechaInicioEvaluacion').hasError('required') 
                                    ? "¡Campo requerido!" 
                                    : ""
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="nombre">Fecha fin evaluación: </label>
                            <input type="date" class="form-control" name="fechaFinEvaluacion" autocomplete="off" formControlName="fechaFinEvaluacion" [ngClass]="(evaluacionForm.get('fechaFinEvaluacion').touched || evaluacionForm.get('fechaFinEvaluacion').dirty) && evaluacionForm.get('fechaFinEvaluacion').hasError('required') ? 'is-invalid':''">
                            <div class="invalid-feedback">
                                {{
                                    evaluacionForm.get('fechaFinEvaluacion').hasError('required') 
                                    ? "¡Campo requerido!" 
                                    : ""
                                }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="nombre">Sucursal: </label>
                            <select class="form-control" name="sucursal" formControlName="sucursal" (change)="cargarComboEspecificacionesPuestos()" [ngClass]="(evaluacionForm.get('sucursal').touched || evaluacionForm.get('sucursal').dirty) && evaluacionForm.get('sucursal').hasError('required') ? 'is-invalid':''">
                                <option *ngFor="let sucursal of comboSucursales" [ngValue]="sucursal">{{sucursal.nombre}}</option>
                              </select>
                              <div class="invalid-feedback">
                                  {{
                                    evaluacionForm.get('sucursal').hasError('required') 
                                      ? "Seleccione una sucursal." 
                                      : ""
                                  }}
                              </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="nombre">Puesto Trabajo: </label>
                            <select class="form-control" name="especificacionPuesto" formControlName="especificacionPuesto" (change)="cargarComboPlantillasEvaluacion()" [ngClass]="(evaluacionForm.get('especificacionPuesto').touched || evaluacionForm.get('especificacionPuesto').dirty) && evaluacionForm.get('especificacionPuesto').hasError('required') ? 'is-invalid':''">
                                <option *ngFor="let edp of comboEspecificacionesPuesto" [ngValue]="edp">{{edp.puesto.nombrePuesto}}</option>
                              </select>
                              <div class="invalid-feedback">
                                  {{
                                    evaluacionForm.get('especificacionPuesto').hasError('required') 
                                      ? "Seleccione una puesto de trabajo." 
                                      : ""
                                  }}
                              </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre">Plantilla de evaluación a utilizar: </label>
                    <select class="form-control" name="plantillaEvaluacion" formControlName="plantillaEvaluacion" [ngClass]="(evaluacionForm.get('plantillaEvaluacion').touched || evaluacionForm.get('plantillaEvaluacion').dirty) && evaluacionForm.get('plantillaEvaluacion').hasError('required') ? 'is-invalid':''">
                        <option *ngFor="let pe of comboPlantillaEvaluacion" [ngValue]="pe">{{pe.descripcion}}</option>
                      </select>
                      <div class="invalid-feedback">
                          {{
                            evaluacionForm.get('plantillaEvaluacion').hasError('required') 
                              ? "Seleccione una plantilla de evaluación valida." 
                              : ""
                          }}
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Evaluador: </label>
                            <select class="form-control" name="empleadoEvaluador" formControlName="empleadoEvaluador" [ngClass]="(evaluacionForm.get('empleadoEvaluador').touched || evaluacionForm.get('empleadoEvaluador').dirty) && evaluacionForm.get('empleadoEvaluador').hasError('required') ? 'is-invalid':''">
                                <option *ngFor="let emp of comboEmpleadosEvaluadores" [ngValue]="emp">{{emp.nombreCompleto}}</option>
                              </select>
                              <div class="invalid-feedback">
                                  {{
                                    evaluacionForm.get('empleadoEvaluador').hasError('required') 
                                      ? "Seleccione un evaluador." 
                                      : ""
                                  }}
                              </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
                        <strong><i class="fas fa-times"></i> ¡Error!</strong> {{mensaje}}
                        <ul *ngIf="errors != null">
                            <div *ngFor="let er of errors">
                                <li>{{er}}</li>
                            </div>
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="guardado">
                        <strong><i class="fas fa-check"></i> ¡Perfecto!</strong> {{mensaje}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="evaluacionForm.invalid" type="submit" class="float-right btn btn-sm btn-success"><i class="far fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
