<app-menu></app-menu>

<div class="container" style="text-align: center;" *ngIf="cargando">
    <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
    <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>

<div class="container" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <h4>Información de Evaluación</h4>
        </div>
        <div class="col">
            <button *ngIf="esAdministrador" routerLink="/evaluacion" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
            <button *ngIf="!esAdministrador" routerLink="/evaluador/evaluaciones_asiganadas" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
            <button style="margin-right: 2px;" routerLink="/detalles_evaluacion/ver/{{evaluacion.id}}" class="float-right btn btn-sm btn-primary shadow-sm"><i class="far fa-eye"></i> Ver Detalles</button>
        </div>
    </div>
    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Información de evaluación {{evaluacion.id}}</h6>
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <p><strong>Fecha Creación:</strong> {{evaluacion.fechaHoraCreacion}}</p>
                </div>
                <div class="col-md">
                    <p><strong>Fecha Inicio:</strong> {{evaluacion.fechaInicioEvaluacion}}</p>
                </div>
                <div class="col-md">
                    <p><strong>Fecha Fin:</strong> {{evaluacion.fechaFinEvaluacion}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p><strong>Periodo Evaluado:</strong> {{evaluacion.periodoInicio}} - {{evaluacion.periodoFin}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p *ngIf="evaluacion.estado.nombre == 'Cancelada'"><strong>Estado: </strong><span class="badge badge-danger"><i class="fas fa-times"></i> {{evaluacion.estado.nombre}}</span></p>
                    <p *ngIf="evaluacion.estado.nombre == 'En Curso'"><strong>Estado: </strong><span class="badge badge-primary"><i class="fas fa-tasks"></i> {{evaluacion.estado.nombre}}</span></p>
                    <p *ngIf="evaluacion.estado.nombre == 'En Espera'"><strong>Estado: </strong><span class="badge badge-warning"><i class="far fa-clock"></i> {{evaluacion.estado.nombre}}</span></p>
                    <p *ngIf="evaluacion.estado.nombre == 'Finalizada'"><strong>Estado: </strong><span class="badge badge-success"><i class="fas fa-check"></i> {{evaluacion.estado.nombre}}</span></p>
                    
                </div>
                <div class="col-md-3">
                    <p *ngIf="esAdministrador"><strong>Evaluador:</strong><a routerLink="/empleados/ver/{{evaluacion.idEvaluador}}" target="_blank"> {{evaluacion.nombreEvaluador}}</a></p>
                    <p *ngIf="!esAdministrador"><strong>Evaluador:</strong> {{evaluacion.nombreEvaluador}}</p>
                </div>
            </div>
            <p><strong>Especificación de puesto a evaluar:</strong> {{evaluacion.especificacionPuesto}} (Sucursal: {{evaluacion.sucursal}})</p>
            <div class="row">
                <div class="col-md">
                    <p><strong>Cantidad de empleados a evaluar:</strong> {{evaluacion.cantidadEmpleadosAEvaluar}}</p>
                </div>
                <div class="col-md">
                    <div>
                        <div style="display: block;">
                          <div class="chart">
                            <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [options]="pieChartOptions"
                              [colors]="pieChartColors"
                              [legend]="pieChartLegend">
                            </canvas>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
