<app-menu></app-menu>
<div class="container" style="text-align: center;" *ngIf="cargando">
  <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
  <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>

<div class="container" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <h4>Áreas</h4>
        </div>
        <div class="col">
            <button routerLink="/areas/nueva" class="float-right btn btn-sm btn-success shadow-sm"><i class="fas fa-plus"></i> Agregar</button>
        </div>

    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Listado de áreas</h6>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">Cód</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let a of areas">
                  <tr>
                    <th scope="row">{{a.id}}</th>
                    <td>{{a.nombre}}</td>
                    <td *ngIf="!(a.descripcion == null)">{{a.descripcion}}</td>
                    <td *ngIf="(a.descripcion == null)">Sin especificar</td>
                    <td>
                      <div class="row">
                        <div class="col">
                          <button style="margin-right: 5px;" class="btn btn-sm btn-warning shadow-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                          <button class="btn btn-sm btn-danger shadow-sm" data-toggle="tooltip" data-placement="top" title="Dar de baja"><i class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
