<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Más información de Especificación de Puesto de trabajo</h5>
        </div>
        <div class="col">
            <button routerLink="/especificacion-puestos-trabajo" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
        </div>
    </div>
    <div *ngIf="edp == null"><h6 style="text-align: center;"><i class="fas fa-exclamation-circle mt-5"></i> ¡La especificación de puesto de trabajo que intenta visualizar no existe!</h6></div>
    <div *ngIf="edp != null" class="card shadow mt-2">
        <h6 class="card-header font-weight-bold">Información de Especificación de Puesto de Trabajo</h6>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <p><strong>Nombre del puesto:</strong> {{edp.nombrePuesto}}</p>
                </div>
                <div class="col-md">
                    <p><strong>Sucursal:</strong> {{edp.sucursalNombre}}</p>
                </div>
                <div class="col-md">
                    <p><strong>Area:</strong> {{edp.areaNombre}}</p>
                </div>
            </div>
            <p *ngIf="edp.descripcion != null"><strong>Descripción:</strong> {{edp.descripcion}}</p>
            <p *ngIf="edp.descripcion == null"><strong>Descripción:</strong> Sin especificar</p>
            
            <p><strong>Objetivos de la especificación de Puesto:</strong></p>
            <div *ngIf="edp.objetivosActivos.length != 0">
                <div *ngFor="let obj of edp.objetivosActivos" class="text-center">
                    <li>{{obj.descripcion}} <button type="button" (click)="eliminarObjetivoConfirmacion(content,obj.id)" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="right" title="Eliminar este objetivo"><i class="fas fa-trash"></i></button></li>
                </div>
            </div>
            <p *ngIf="edp.objetivosActivos.length == 0" class="text-center"><i class="fas fa-exclamation-circle"></i> No hay objetivos cargados</p>
        </div>
    </div>
</div>

<!-- Modal para solicitar confirmacion de eliminación de objetivo -->
<ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6><img src="../../../../assets/advertencia.png" alt="Icon Adv" style="height: 35px;width: 35px;"> ¿Esta seguro que desea eliminar el objetivo seleccionado?</h6>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close('Close click')" type="button" class="btn btn-danger"><i class="fas fa-times"></i> No</button>
      <button (click)="eliminar()" type="button" class="btn btn-warning"><i class="fas fa-check"></i> Si</button>
    </div>
</ng-template>
