<app-menu></app-menu>
<div class="container" style="text-align: center;" *ngIf="cargando">
  <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
  <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>

<div class="container" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <h4>Sucursales</h4>
        </div>
        <div class="col">
            <button routerLink="/sucursales/nueva" class="float-right btn btn-sm btn-success shadow-sm"><i class="fas fa-plus"></i> Agregar</button>
        </div>

    </div>

    <div class="card shadow">
        <h6 class="card-header font-weight-bold">Listado de sucursales</h6>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <thead>
                  <tr class="table-primary">
                    <th role="button" (click)="setOrder()" scope="col"><i [ngClass]="order === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'"></i></th>
                    <th role="button" (click)="setSort('id')" scope="col">Cód</th>
                    <th role="button" (click)="setSort('nombre')" scope="col">Nombre</th>
                    <th role="button" (click)="setSort('descripcion')" scope="col">Descripción</th>
                    <th scope="col">Areas</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let s of sucursales">
                  <tr>
                    <th></th>
                    <th scope="row">{{s.id}}</th>
                    <td>{{s.nombre}}</td>
                    <td *ngIf="!(s.descripcion == null)">{{s.descripcion}}</td>
                    <td *ngIf="(s.descripcion == null)">No Especificado</td>
                    <td>
                      <div *ngFor="let a of s.areas">
                        <tr>- {{a.nombre}}</tr>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col">
                          <button style="margin-right: 5px;" class="btn btn-sm btn-warning shadow-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                          <button class="btn btn-sm btn-danger shadow-sm" data-toggle="tooltip" data-placement="top" title="Dar de baja"><i class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="sucursales.length == 0" style="text-align: center;"><i class="fas fa-exclamation-circle"></i> No se encontraron resultados.</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                  <li class="page-item" [ngClass]="{'disabled': esPrimera === true}">
                    <a role="button" class="page-link" (click)="anterior()" aria-label="Previous" data-toggle="tooltip" data-placement="bottom" title="Anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li *ngFor="let p of totalPages;let i=index" [ngClass]="{'active' : i == page}" class="page-item"><a role="button" class="page-link" (click)="setPagina(i)">{{i+1}}</a></li>
                  <li class="page-item" [ngClass]="{'disabled': esUltima === true}">
                    <a role="button" class="page-link" (click)="siguiente()" aria-label="Next" data-toggle="tooltip" data-placement="bottom" title="Siguiente">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>

