<app-menu></app-menu>
<div class="container" style="text-align: center;" *ngIf="cargando">
    <img src="../../../../assets/animate/svg-loaders/grid.svg" alt="Cargando...">
    <h6 style="color: blue;margin-top: 10px;">Cargando...</h6>
</div>

<div class="container" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <h4>Evaluar a ...</h4>
        </div>
        <div class="col">
            <button routerLink="/evaluador/evaluaciones_asiganadas" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
        </div>
    </div>

    <div *ngIf="errorSuperior">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorSuperior">
            <strong><i class="fas fa-times"></i> ¡Error!</strong> {{mensaje}}
        </div>
    </div>

    <div *ngIf="!errorSuperior && !guardado" class="card shadow mb-5">
        <h6 class="card-header font-weight-bold">Evaluación de empleado</h6>
        <div class="card-body">
            <div *ngFor="let dp of plantillaEvaluacion.detallePlantilla">
                <h5><u>Competencia:</u> {{dp.competencia.nombre}}</h5>
                <p *ngIf="dp.competencia.descripcion != null" style="font-size: 15px;">{{dp.competencia.descripcion}}</p>
                <p *ngIf="dp.esPreguntaObjetivo">Es pregunta objetivo: Si - Objetivo: {{dp.obj.descripcion}}</p>
                <p *ngIf="!dp.esPreguntaObjetivo">Es pregunta objetivo: No</p>
                <div class="table-responsive-md" style="margin-right: 5%;margin-left: 5%;">
                    <table class="table table-sm">
                      <thead style="text-align: center;">
                        <tr>
                          <th scope="col">Selección</th>  
                          <th scope="col">Grado</th>
                          <th scope="col">Descripción Comportamiento</th>
                          <th scope="col">Valoración Numérica</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let cp of dp.comportamiento" style="text-align: center;">
                        <tr>
                          <th>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" (click)="tomarOpcionSeleccionada(dp,cp)" name="{{dp.competencia.nombre}}" id="{{dp.competencia.nombre}}">
                            </div>
                          </th>  
                          <th scope="row">{{cp.grado}}</th>
                          <td style="text-align: justify;">{{cp.descComportamiento}}</td>
                          <td>{{cp.valoracionNumerica}} %</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="errorInferior">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorInferior">
                    <strong><i class="fas fa-times"></i> ¡Error!</strong> {{mensaje}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <button (click)="guardarResultado()" class="float-right btn btn-sm btn-success"><i class="far fa-save"></i> Guardar</button>
        </div>
    </div>
    <div *ngIf="guardado">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="guardado">
            <strong><i class="fas fa-check"></i> ¡Perfecto!</strong> {{mensaje}}
        </div>
    </div>
</div>
