<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  style="margin-bottom: 25px"
>
  <a class="navbar-brand" href="#">SED</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isEvaluador">
        <a class="nav-link" routerLink="/evaluador/evaluaciones_asiganadas"><i class="fas fa-tasks"></i> Evaluaciones Asignadas</a>
      </li>
      <li class="nav-item" *ngIf="isEmpleado">
        <a class="nav-link" routerLink="/mis-evaluaciones"><i class="fas fa-tasks"></i> Mis Evaluaciones</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdministrador">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-tasks"></i> Evaluaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/plantilla-evaluacion"
            ><i class="far fa-copy"></i> Plantillas de Evaluación</a
          >
          <a class="dropdown-item" routerLink="/evaluacion"
            ><i class="far fa-chart-bar"></i> Evaluaciones</a
          >
          <a class="dropdown-item" routerLink="/competencia"
            ><i class="fas fa-praying-hands"></i> Competencias</a
          >
          <a class="dropdown-item" routerLink="/reportes/situacion_competencia"
            ><i class="fas fa-chart-pie"></i> Situación Competencia</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdministrador">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-cog"></i> Configuración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/areas"
            ><i class="fas fa-grip-horizontal"></i> Áreas</a
          >
          <a class="dropdown-item" routerLink="/sucursales"
            ><i class="far fa-building"></i> Sucursales</a
          >
          <a class="dropdown-item" routerLink="/puestos-trabajo"
          ><i class="fas fa-dolly"></i> Puestos de Trabajo</a
          >
          <a class="dropdown-item" routerLink="/especificacion-puestos-trabajo"
          ><i class="fas fa-people-carry"></i> Especificación de Puestos de Trabajo</a
          >
          <a class="dropdown-item" routerLink="/empleados"
          ><i class="fas fa-users"></i> Empleados</a
          >
        </div>
      </li>
    </ul>
    <li class="navbar-nav mr-right nav-item dropdown" style="margin-right: 50px;">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-user"></i> {{ nombreUsuario }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/usuario/mi-perfil"
          ><i class="far fa-id-card"></i> Mi perfil</a
        >
        <button class="dropdown-item" (click)="cerrarSesion()">
          <i class="fas fa-power-off"></i> Cerrar Sessión
        </button>
      </div>
    </li>
  </div>
</nav>
