<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 25px;">
    <a class="navbar-brand" href="#">SED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-tasks"></i> Evaluaciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/areas"><i class="fas fa-grip-horizontal"></i> Mi perfil</a>
            <a class="dropdown-item" href="#"><i class="far fa-building"></i> Cerrar Sessión</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i> Configuración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/areas"><i class="fas fa-grip-horizontal"></i> Áreas</a>
            <a class="dropdown-item" href="#"><i class="far fa-building"></i> Sucursales</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Usuario Logeado
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/areas"><i class="fas fa-grip-horizontal"></i> Mi perfil</a>
            <a class="dropdown-item" href="#"><i class="far fa-building"></i> Cerrar Sessión</a>
          </div>
        </li>
      </ul>
    </div>
</nav>
